@model Kentico.MVC.Widgets.LinkButton.LinkButtonWidgetViewModel
@if (Model.LinkText != null)
{
    <a href="@Model.LinkURL" target="@Model.LinkTarget" class="@Model.LinkCSSClass">@Model.LinkText</a>
}
