@model Raybiztech.Kentico12.MVC.Widgets.GoogleMap.GoogleMapWidgetViewModel
@if (Model.ApiKey == null)
{
    <p style="color:red">Please add API Key in web.config file to display Google Map</p>
}
else
{
    <script src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initialize"
            async defer></script>
}

@Html.Hidden("latitude", Model.Latitude, new { @id = "latitude" })
@Html.Hidden("logitude", Model.Longitude, new { @id = "logitude" })
<div id="googlemap" class="googlemap">
</div>
<script type="text/javascript" src="~/Scripts/Googlemap/Googlemap.js">
</script>
