@model Raybiztech.Kentico12.MVC.Widgets.GoogleMap.GoogleMapWidgetViewModel
<script type="text/javascript" src="~/Scripts/Googlemap/Googlemap.js">
</script>
@if (Model.ApiKey == null)
{
<p style="color:red">Please add API Key in web.config file to display Google Map</p>
}
else
{
<script src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initialize"
        async defer></script>
}
@{
    string mapId = String.Concat("map_", DateTime.Now.Ticks.ToString());
}
<div id="@mapId" class="googlemap_js" data-latitude="@Model.Latitude" data-longitude="@Model.Longitude" style="width: 100%; height: 400px;">
</div>
