.video-cell .embed-responsive {
    margin: 0 auto;
}

.homepage-carousel-teaser-wrapper {
    position: relative
}

    .homepage-carousel-teaser-wrapper > picture, .homepage-carousel-teaser-wrapper > picture > img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .homepage-carousel-teaser-wrapper .pos-TopRight {
        right: 50px;
        top: 10%
    }

    .homepage-carousel-teaser-wrapper .tts-text-container {
        position: absolute
    }

.teaser.homepage-carousel-teaser h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px
}

.teaser.homepage-carousel-teaser h4 {
    font-size: 22px;
    word-break: break-all;
}

.homepage-carousel .slick-dotted.slick-slider {
    margin-bottom: 40px
}

.container-iframevideo {
    height: 100%;
    width: 100%;
    top: 0
}

.homepage-carousel .slick-slider .slick-arrow {
    opacity: 1;
    position: absolute;
    display: block;
    height: 4.6875rem;
    width: 2.175rem;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: rgba(25,30,43,.3);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: none;
    outline: 0;
    z-index: 1;
    -webkit-transition: background .5s ease,opacity .5s ease;
    transition: background .5s ease,opacity .5s ease;
    margin: 0
}

.homepage-carousel .slick-prev {
    left: 0;
    border: none;
    outline: none;
}

.homepage-carousel .slick-next {
    right: 0;
}

    .homepage-carousel .slick-next:before, .homepage-carousel .slick-prev:before {
        font-family: FontAwesome;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        font-size: 28px;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

.homepage-carousel .slick-prev:before {
    content: "\f104"
}

.homepage-carousel .slick-next:before {
    content: "\f105"
}

.slick-dots li button {
    background: #ccc !important;
    line-height: 0 !important;
    padding: 0 !important;
}

    .slick-dots li button:before {
        content: "" !important;
        height: 3px;
    }

.slick-dots li, .slick-dots li button {
    width: 40px !important;
    height: 4px !important;
}

.embed-responsive {
    position: relative;
    padding-top: 22px;
    padding-bottom: 120px;
    height: 500px;
    width: 508px;
    padding-left: 40px;
}

.slick-dots li.slick-active button:before {
    background: #080808;
    width: 40px;
}

.homepage-carousel-teaser-wrapper .pos-TopRight {
    left: 50px;
    top: 10%
}

.homepage-carousel-teaser-wrapper .tts-text-container {
    position: absolute;
    float: right;
}

.teaser.homepage-carousel-teaser {
    background-color: hsla(53,18%,91%,.7);
    display: inline-block;
    padding: 1.875rem;
}

    .teaser.homepage-carousel-teaser h4 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .teaser.homepage-carousel-teaser h4 {
        font-size: 22px;
        color: black;
    }

h4, .h4 {
    font-family: inherit !important;
    font-weight: 200 !important;
    color: inherit !important;
}

.homepage-carousel-teaser a {
    font-family: dinpro-regular;
    color: #000;
    text-decoration: none !important;
}

.video-cell .embed-responsive {
    margin: 0 auto;
}

