@using CMS.DocumentEngine;
@model Raybiztech.Kentico12.MVC.Widgets.SmartSearchBox.Models.SmartSearchWidgetViewModel

@if (Model.Items.Count > 0)
{
        foreach (var item in Model.Items)
        {
            TreeNode node = (TreeNode)item.Data;
            <h3>@item.Title</h3>
            <span style="color: #008000">
                @node.NodeAliasPath
            </span>


        }

}
