@using Raybiztech.Kentico12.MVC.Widgets.RSSFeed
@model RSSFeedPropertiesViewModel
@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <h4>404! View Not Found..</h4>
        <p>Please check the view name...</p>
    </div>
</div>